* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

body {
    font-family: 'Roboto', sans-serif;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

:root {
    --playerbg:#141922
    --playerwhite:#FFFFFF
    --playergrey:#5A5A5A
}

/* debug */

.debug {
    background-color: red;
    padding: 30px 30px;
    border: 1px solid black;
}

/* app structure */

.app-main {
    flex-grow: 1;
    display: flex;
}

.app-content {
    flex-grow: 1;
}

.side-bar {
    width: 50px;
}

/* player-bar */

.player-bar {
    display: flex;
    justify-content: space-between;
    background-color: #282828;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 26px;
    padding-top: 10px;
}

/* player-left */

.player-left {
    display: flex;
    background-color: var(--playerbg);
    align-items: center;
}

.sinister-album {
    width: 28px;
}

.player-left .icon {
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: #5A5A5A;
    font-size: 12px;
}

.player-left .track-name {
    margin-left: 10px;
    margin-right: 22px;
}

.track-name p {
    color: white;
    font-size: 14px;
}

.track-name span {
    color: #5A5A5A;
    font-size: 12px;
}

/* player center */



    .player-center {
        width: 40%;
    }    

/* top */

    .player-center .top {
        display: flex;
        justify-content: center;
        color: white;
        gap: 20px;
        align-items: center;
        margin-bottom: 15px;
    }

.player-center .play {
    font-size: 22px;
    padding: 0 4px;
}

/* bottom */

.player-center .bottom {
    display: flex;
    color: white;
    align-items: center;
    gap: 10px;
}

.time-stamp {
    font-size: 10px;
}

.time-bar {
    flex-grow: 1;
    height: 4px;
    background-color: #5A5A5A;
}

.time-progress {
    background-color: white;
    width: 15%;
    height: 100%;
}

/* player right */

.player-right {
    color: white;
    display: flex;
}



/* media query */


@media (min-width: 576px) {

}


@media (min-width: 768px) {
   .side-bar {
        width: 230px;
   }
   /* player-left */
   
   .sinister-album {
    width: 38px;
   }
}


@media (min-width: 992px) {

    .player-left .icon {
        flex-direction: row;
        gap: 14px;
    }

    .player-left .track-name {
        margin-right: 42px;
    }
}


@media (min-width: 1200px) {

}
